.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(300px, auto);
}

.book-cover {
  width: 152px;
  height: 221px;
}
.btn-view {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.book-title {
  font-size: 14px;
}

.book-field td {
  padding: 2px;
}
